/* 메인 배경 */
.main-cover-container {
    position: absolute;
    left: calc(15vmax + 50px);
    display: block;
    width: calc(85vmax - 50px);
    height: 100vh;
  }
  .main-cover-imgbox {
    position: relative;
    display: block;
    /* overflow: hidden; */
    opacity: 30%;
  }
  
  .main-cover-imgbox img {
    position: absolute;
    bottom: -100vh;
    width: 100%;
  }