



/* 메인 배경 */
.main-cover-container {
  position: absolute;
  left: 0;
  display: block;
  width: calc(85vmax - 50px);
  height: 100vh;
  overflow: hidden;
}
.main-cover-imgbox {
  position: relative;
  display: block;
  /* overflow: hidden; */
  opacity: 30%;
  user-select: none;
}
.main-cover-imgbox img {
  position: absolute;
  bottom: -102vh;
  width: 100%;
}

.main-cover-imgbox2 {
  position: relative;
  display: block;
  /* overflow: hidden; */
  filter: brightness(55%);
  z-index: 1;
  user-select: none;
}
.main-cover-imgbox2 img {
  position: absolute;
  bottom: -110vh;
  width: 100%;
}
  

@media screen and (max-width: 1350px) {
  .main-cover-container .main-cover-imgbox img {
    position: absolute;
    bottom: -100vh;
    width: 100%;
  }
  .main-cover-container .main-cover-imgbox2 img {
    position: absolute;
    bottom: -100vh;
    width: 100%;
  }
}



/* 대각선 라인
.main-cover-line-box {
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 5px;
  height: 5px;
}
.main-cover-line {
  background-color: rgb(101, 240, 159);
  position: absolute;
  top: -100vmax;
  display: block;
  width: 3vmax;
  height: 200vmax;
  transform: rotate(45deg);
  z-index: 1;
  animation: mainline 3s ease;
}
@keyframes mainline {
  0% {
    height: 0px;
    top: 0vmax;
  }
  100% {
    height: 200vmax;
    top: -100vmax;
  }
} */


/* 텍스트 그라데이션 */
  /* background: linear-gradient(to right, #ffffff, rgb(101, 240, 159),5%, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */



  /* 텍스트 박스 */
.main-cover-box {
  /* background-color: salmon; */
  /* border: 1px #222222 solid; */
  position: absolute;
  top: 32%;
  left: 25%;
  display: block;
  width: calc(9vmax + 30px);
  height: calc(6vmax + 20px);
  /* min-width: calc(20vmax - 20px); */
  /* min-height: calc(10vmax - 10px); */
  z-index: 2;
}
.main-cover-box h3 {
  font-family: 'ONE-Mobile-Title';
  font-weight: 300;
  font-size: calc(3vmax + 10px);
  color: #ffffff;
}
.main-cover-box h4 {
  font-family: 'ONE-Mobile-Title';
  font-weight: 100;
  font-size: calc(1.25vmax + 4px);
  color: #ffffff;
}
.main-cover-box h5 {
  font-family: 'ONE-Mobile-Title';
  font-size: calc(.8vmax + 2px);
  font-weight: 100;
  color: #dddddd;
}

.main-cover-sub {
  position: absolute;
  display: block;
  width: 100%;
  height: calc(3vmax + 10px);
  opacity: 0%;
  z-index: 3;
  user-select: none;
}



#typing-1 {
  animation: typing1 1s 1.1s ease;
}
#typing-2 {
  animation: typing1 1s 1.2s ease;
}
#typing-3 {
  animation: typing1 1s 1.3s ease;
}
#typing-4 {
  animation: typing1 1s 1.4s ease;
}
#typing-5 {
  animation: typing1 1s 1.5s ease;
}
#typing-6 {
  animation: typing1 1s 1.6s ease;
}
#typing-7 {
  animation: typing1 1s 1.7s ease;
}
#typing-8 {
  animation: typing1 1s 1.8s ease;
}
#typing-9 {
  animation: typing2 2s ease;
  opacity: 100%;
  user-select: all;
}
@keyframes typing1 {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }
  10% {
    opacity: 100%;
  }
  11% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes typing2 {
  0% {
    opacity: 0%;
  }
  94% {
    opacity: 0%;
  }
  95% {
    opacity: 100%;
  }
}

#MAP-main:checked ~ .app-container #typing-1 {
  animation: typing1re 1s 1.1s ease;
}
#MAP-main:checked ~ .app-container #typing-2 {
  animation: typing1re 1s 1.2s ease;
}
#MAP-main:checked ~ .app-container #typing-3 {
  animation: typing1re 1s 1.3s ease;
}
#MAP-main:checked ~ .app-container #typing-4 {
  animation: typing1re 1s 1.4s ease;
}
#MAP-main:checked ~ .app-container #typing-5 {
  animation: typing1re 1s 1.5s ease;
}
#MAP-main:checked ~ .app-container #typing-6 {
  animation: typing1re 1s 1.6s ease;
}
#MAP-main:checked ~ .app-container #typing-7 {
  animation: typing1re 1s 1.7s ease;
}
#MAP-main:checked ~ .app-container #typing-8 {
  animation: typing1re 1s 1.8s ease;
}
#MAP-main:checked ~ .app-container #typing-9 {
  animation: typing2re 2s ease;
  opacity: 100%;
  user-select: all;
}
@keyframes typing1re {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }
  10% {
    opacity: 100%;
  }
  11% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes typing2re {
  0% {
    opacity: 0%;
  }
  94% {
    opacity: 0%;
  }
  95% {
    opacity: 100%;
  }
}


.main-cover-underline {
  background-color: #1eff96;
  position: absolute;
  top: calc(2.7vmax + 10px);
  display: block;
  width: calc(8.6vmax + 29px);
  /* width: calc(42.5vmax - 25px); */
  height: 6%;
  z-index: 2;
  animation: underline1 4s ease;
}
@keyframes underline1 {
  0% {
    width: 0%;
  }
  54% {
    width: 0%;
  }
  85% {
    width: calc(8.6vmax + 29px);
  }
  100% {
    width: calc(8.6vmax + 29px);
  }
}
#MAP-main:checked ~ .app-container .main-cover-underline {
  background-color: #1eff96;
  position: absolute;
  top: calc(2.7vmax + 10px);
  display: block;
  width: calc(8.6vmax + 29px);
  /* width: calc(42.5vmax - 25px); */
  height: 6%;
  z-index: 2;
  animation: underline1re 4s ease;
}
@keyframes underline1re {
  0% {
    width: 0%;
  }
  54% {
    width: 0%;
  }
  85% {
    width: calc(8.6vmax + 29px);
  }
  100% {
    width: calc(8.6vmax + 29px);
  }
}



.main-cover-content {
  /* background-color: darkolivegreen; */
  position: absolute;
  top: calc(3.1vmax + 11px);
  display: block;
  width: 100%;
  height: calc(2.9vmax + 9px);
  overflow: hidden;
}
.main-cover-content h4 {
  position: absolute;
  top: 0;
  animation: content1 5s ease;
}
@keyframes content1 {
  0% {
    opacity: 0%;
  }
  65% {
    opacity: 0%;
    transform: translateY(-3vmax);
  }
  100% {
    opacity: 100%;
  }
}

#MAP-main:checked ~ .app-container .main-cover-content h4 {
  position: absolute;
  top: 0;
  animation: content1re 5s ease;
}
@keyframes content1re {
  0% {
    opacity: 0%;
  }
  65% {
    opacity: 0%;
    transform: translateY(-3vmax);
  }
  100% {
    opacity: 100%;
  }
}



.main-cover-content2 {
  /* background-color: #ffffff; */
  position: absolute;
  /* top: .2vmax;
  left: calc(9vmax + 30px); */
  top: calc(5vmax + 20px);
  left: 0;
  display: block;
  width: calc(15vmax + 30px);
  height: calc(6vmax + 20px);
}
.main-cover-content2 h5{
  animation: mainh5 6.5s ease;
}
@keyframes mainh5 {
  0% {
    opacity: 0%;
    transform: translate(-.5vmax);
  }
  80% {
    opacity: 0%;
    transform: translate(-.5vmax);
  }
  100% {
    opacity: 100%;
    transform: translate(0);
  }
}

#MAP-main:checked ~ .app-container .main-cover-content2 h5{
  animation: mainh5re 6.5s ease;
}
@keyframes mainh5re {
  0% {
    opacity: 0%;
    transform: translate(-.5vmax);
  }
  80% {
    opacity: 0%;
    transform: translate(-.5vmax);
  }
  100% {
    opacity: 100%;
    transform: translate(0);
  }
}



/* 어바웃 페이지 이동 */
.toabout-box {
  background-image: url(../img/right.jpg);
  background-size: 4vmax;
  rotate: 90deg;
  position: absolute;
  top: 85%;
  left: 90%;
  transform: translate(0, 50%);
  display: block;
  width: 4vmax;
  height: 4vmax;
  z-index: 10;
}
.toabout-box:hover {
  animation: downarrow 1s ease infinite;
}
@keyframes downarrow {
  0% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(1vmax, 50%);
    opacity: 0%;
  }
}

#toabout {
  display: block;
  z-index: 9;
  animation: wait 6.5s ease;
}
@keyframes wait {
  0% {
    opacity: 0%;
  }
  98% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}