/* 폰트 출처 구글 폰트 */
@font-face {
  font-family: "RobotoB";
  src: url("/src/font/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: "RobotoR";
  src: url("/src/font/RobotoCondensed-Regular.ttf");
}
h4 {
  display: inline-block;
  margin: 0;
  font-family: "RobotoB";
  font-size: calc(1vmax + 20px);
  color: #ececec;
}
h5 {
  margin: 0;
  font-family: "RobotoR";
  font-size: calc(1vmax + 2px);
  font-weight: 100;
  color: #d4d4d4;
}



/* 왼쪽 메뉴 */
.menu-container {
  background-color: #151515;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(15vmax + 50px);
  height: 100%;
  z-index: 2;
}
.menu-list-box {
  position: absolute;
  top: calc(5vmin - 10px);
  left: calc(10% + 5px);
  display: block;
  width: calc(5px + 70%);
  min-height: calc(50px + 20vmin);
  user-select: none;
}
.menu-list-line {
  /* background-color: aquamarine; */
  margin-bottom: 1vmin;
  position: relative;
  display: block;
  width: 100%;
  min-height: calc(10px + 5vmin);
  overflow: hidden;
}
.menu-list-line a {
  margin: 0;
  text-decoration: none;
  font-family: "RobotoB";
  font-size: calc(1vmax + 20px);
  color: #ececec;
  display: inline-block;
}
.menu-container:hover h4 {
  transition: .5s;
}
.menu-container:hover a {
  transition: .5s;
}



/* 밑줄 효과 */
.underline-box {
  background-color: #ececec;
  position: absolute;
  bottom: calc(1vmin - 5px);
  display: block;
  width: 1vmin;
  height: .5vmin;
}
.underline-1 {
  background-color: #ececec;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 1vmin;
  height: .5vmin;
  z-index: 3;
}
.underline-2 {
  background-color: #151515;
  position: absolute;
  top: 0;
  left: 1vmin;
  display: block;
  width: 1vmin;
  height: .5vmin;
  z-index: 2;
}
.menu-container:hover .underline-box {
  transition: .5s;
}
.menu-container:hover .underline-1 {
  transition: .2s;
}



/* 밑줄 hover 효과 */
.menu-list-line:hover h4 {
  transform: translateX(2vmin);
  transition: .2s;
}
.menu-list-line:hover a {
  transform: translateX(2vmin);
  transition: .2s;
}

.menu-list-line:hover .underline-box {
  transition: .5s;
}
.menu-list-line:hover #underline-box1 {
  width: calc(2vmin + 40px + 2vmax);
}
.menu-list-line:hover #underline-box2 {
  width: calc(2vmin + 50px + 2.5vmax);
}
.menu-list-line:hover #underline-box3 {
  width: calc(2vmin + 60px + 3vmax);
}
.menu-list-line:hover #underline-box4 {
  width: calc(2vmin + 68px + 3.25vmax);
}
.menu-list-line:hover #underline-box5 {
  width: calc(2vmin + 55px + 2.75vmax);
}


.menu-list-line:hover .underline-1 {
  width: 1vmin;
  height: calc(20px + 4vmin);
  transition: .5s;
}
.menu-list-line:hover #underline-box1 .underline-1 {
  background-color: #ff5c5c;
}
.menu-list-line:hover #underline-box2 .underline-1 {
  background-color: #ffcb1e;
}
.menu-list-line:hover #underline-box3 .underline-1 {
  background-color: #c588ff;
}
.menu-list-line:hover #underline-box4 .underline-1 {
  background-color: #28cdff;
}
.menu-list-line:hover #underline-box5 .underline-1 {
  background-color: #1eff96;
}


.menu-list-line:hover #list-line-1 {
  color: #ff5c5c;
}
.menu-list-line:hover #list-line-2 {
  color: #ffcb1e;
}
.menu-list-line:hover #list-line-3 {
  color: #c588ff;
}
.menu-list-line:hover #list-line-4 {
  color: #28cdff;
}
.menu-list-line:hover #list-line-5 {
  color: #1eff96;
}




/* 왼쪽 하단 */
.menu-address-box {
  /* background-color: aqua; */
  position: absolute;
  bottom: 1vw;
  left: calc(10% + 5px);
  display: block;
  width: calc(5px + 70%);
  min-height: calc(30px + 8vmin);
}
.menu-address-line {
  /* background-color: #8f1e1e; */
  position: relative;
  display: block;
  width: 100%;
  min-height: calc(15px + 4vmin);
}