



/* 메인 배경 */
.project-cover-container {
  position: absolute;
  left: calc(15vmax + 50px);
  display: block;
  width: calc(85vmax - 50px);
  height: 100vh;
}
.project-cover-imgbox {
  position: relative;
  display: block;
  /* overflow: hidden; */
  opacity: 30%;
}
.project-cover-imgbox img {
  position: absolute;
  bottom: -100vh;
  width: 100%;
}

.project-cover-imgbox2 {
  position: relative;
  display: block;
  /* overflow: hidden; */
  filter: brightness(55%);
  z-index: 1;
  user-select: none;
}
.project-cover-imgbox2 img {
  position: absolute;
  bottom: -100vh;
  width: 100%;
}


/* 페이지 이동 화살표 */
.tomain-box {
  background-image: url(../img/left.jpg);
  background-size: 4vmax;
  rotate: 90deg;
  position: absolute;
  top: calc(15% - 4vmax);
  left: 90%;
  transform: translate(0, 50%);
  display: block;
  width: 4vmax;
  height: 4vmax;
  z-index: 10;
}
.tomain-box:hover {
  animation: uparrow 1s ease infinite;
}
@keyframes uparrow {
  0% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(-1vmax, 50%);
    opacity: 0%;
  }
}

#tomain {
  display: block;
  z-index: 9;
  animation: wait 6.5s ease;
}
@keyframes wait {
  0% {
    opacity: 0%;
  }
  98% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

