
/* 메인 배경 */
.project-cover-container {
  position: absolute;
  top: 200vh;
  left: 0;
  display: block;
  width: calc(85vmax - 50px);
  height: 100vh;
  overflow: hidden;
}




/* 클릭 박스 */
.project-box1 {
  /* background-color: aqua; */
  position: absolute;
  top: 20%;
  left: 15%;
  display: block;
  width: calc(8vmax + 20px);
  height: calc(3.2vmax + 8px);
  overflow: hidden;
  animation: projectbox1 4s ease;
}
@keyframes projectbox1{
  0% {
    top: 10%;
    left: 45%;
    opacity: 0%;
  }
  20% {
    top: 10%;
    left: 45%;
    opacity: 0%;
  }
  50% {
    top: 10%;
    left: 45%;
  }
  100% {
    top: 20%;
    left: 15%;
  }
}

.project-box2 {
  /* background-color: aqua; */
  position: absolute;
  top: 35%;
  left: 65%;
  display: block;
  width: calc(8vmax + 20px);
  height: calc(3.2vmax + 8px);
  overflow: hidden;
  animation: projectbox2 4s ease;
}
@keyframes projectbox2{
  0% {
    top: 15%;
    left: 45%;
    opacity: 0%;
  }
  20% {
    top: 15%;
    left: 45%;
    opacity: 0%;
  }
  50% {
    top: 15%;
    left: 45%;
  }
  100% {
    top: 35%;
    left: 65%;
  }
}

.project-box3 {
  /* background-color: aqua; */
  position: absolute;
  top: 70%;
  left: 30%;
  display: block;
  width: calc(8vmax + 20px);
  height: calc(3.2vmax + 8px);
  overflow: hidden;
  animation: projectbox3 4s ease;
}
@keyframes projectbox3{
  0% {
    top: 20%;
    left: 45%;
    opacity: 0%;
  }
  20% {
    top: 20%;
    left: 45%;
    opacity: 0%;
  }
  50% {
    top: 20%;
    left: 45%;
  }
  100% {
    top: 70%;
    left: 30%;
  }
}


/* 박스 hover 효과 */
.project-box-effect1 {
  background-color: #ffffff;
  position: absolute;
  left: -3vmax;
  display: block;
  width: 3vmax;
  height: 3px;
}
.project-box-effect2 {
  background-color: #ffffff;
  position: absolute;
  top: -3vmax;
  display: block;
  width: 3px;
  height: 3vmax;
}
.project-box-effect3 {
  background-color: #ffffff;
  position: absolute;
  top: -4vmax;
  right: 0;
  display: block;
  width: 3px;
  height: 3vmax;
}
.project-box-effect4 {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: -4vmax;
  display: block;
  width: 3vmax;
  height: 3px;
}

#projectbox h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#projectbox:hover {
  background-color: rgba(30, 30, 30, .05);
  transition: .2s;
  transition-delay: .2s;
}


#projectbox:hover .project-box-effect1 {
  left: calc(14vmax + 20px);
  transition: .6s;
}
#projectbox:hover .project-box-effect2 {
  top: calc(9.2vmax + 8px);
  transition: .6s;
}
#projectbox:hover .project-box-effect3 {
  top: calc(5.2vmax + 8px);
  transition: .6s;
  transition-delay: .12s;
}
#projectbox:hover .project-box-effect4 {
  left: calc(10vmax + 20px);
  transition: .6s;
  transition-delay: .05s;
}



/* width: calc(8vmax + 20px); 
  height: calc(3.2vmax + 8px); */