.main {
  width: 100%;
  min-height: 1500px;
  background-color: #333333;
  position: relative;
}


.menu-container {
  background-color: #c96a6a;
  display: block;
  position: fixed;
  width: calc(10% + 50px);
  height: 100%;
}
.menu-list-box {
  background-color: aqua;
  position: absolute;
  top: 3vw;
  left: calc(10% + 5px);
  display: block;
  width: calc(5px + 60%);
  height: calc(50px + 20vw);
}



.main-cover-container {
  /* background-image: url(/src/img/main.jpg);
  filter: opacity(50%); */
  position: absolute;
  left: calc(10% + 50px);
  display: block;
  width: calc(90% - 50px);
  min-height: 1500px;
}
.main-cover-imgbox {
  height: 1500px;
  overflow: hidden;
  opacity: 30%;
}

.main-cover-imgbox img {
  width: 100%;
}
