.main {
  width: 100%;
  min-height: 130vw;
  background-color: #2c2c2c;
  position: relative;
}


.menu-container {
  background-color: #2c2c2c;
  display: block;
  position: fixed;
  width: calc(15% + 50px);
  height: 100%;
}
.menu-list-box {
  background-color: aqua;
  position: absolute;
  top: 3vw;
  left: calc(10% + 5px);
  display: block;
  width: calc(5px + 70%);
  min-height: calc(50px + 20vw);
}
.menu-address-box {
  background-color: aqua;
  position: absolute;
  bottom: 1vw;
  left: calc(10% + 5px);
  display: block;
  width: calc(5px + 70%);
  min-height: calc(30px + 6vw);
}


.main-cover-container {
  /* background-image: url(/src/img/main.jpg);
  filter: opacity(50%); */
  position: relative;
  left: calc(15% + 50px);
  display: block;
  width: calc(85% - 50px);
  min-height: 500px;
}
.main-cover-imgbox {
  height: 100%;
  overflow: hidden;
  opacity: 30%;
}

.main-cover-imgbox img {
  width: 100%;
}
